.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #111;
}


@media print{
	.navbar,.navbar *{
		display:none!important;
	}
}

.text-icon{margin:2px;color:#607D8C;}.navbar-icon{margin:2px;color:#fff;}.bk-white{background-color: rgb(255, 255, 255); display: inline !important;}.nolist{list-style:none;}