.post-body .link-grid {
    /* one column per row */
    grid-template-columns: 1fr;
}
html:not(.site-author-image) { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
