article img:not([data-loaded$="true"]){
    padding-bottom: 61.8%;
}
.footer-menu{
    columns: 3 200px;
}
.footer-menu .menu{
    padding: 0 0;
    break-inside: avoid;
}
.footer-menu h3{
    font-size: 12px;
    text-align: left;
    padding: 5px 20px;
}
