<!DOCTYPE html>
<html lang="zh-cn">
  <head>
   {% include head.html %}
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a class="nocolor" href="/" >曾晋哲的Blog</a></h1>
      <h2 class="project-tagline">爱在ECNU</h2>
    </section>
	
    <section class="main-content">
		<h2>{{ page.title }}</h2>
		{% if page.share != false %}
		<p>{% include share.html %}</p>
		{% endif %}
		{{ content }}
		<footer class="site-footer">
		{% if page.comments != false %}
		<!-- UY BEGIN -->
		<div id="uyan_frame"></div>
		<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2084450"></script>
		<!-- UY END -->
		{% endif %}
        <a href="/index.html">站点导航</a>|<a href="https://github.com/njzjz">Github</a>
		</footer>
    </section>
  </body>
</html>
