<!DOCTYPE html>
<html lang="zh-cn">
  <head>
   {% include head.html %}
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a class="nocolor" href="/" >曾晋哲的Blog</a></h1>
      <h2 class="project-tagline">爱在ECNU</h2>
    </section>
	
    <section class="main-content">
		<h2>{{ page.title }}</h2>
		{{ content }}
		<footer class="site-footer">
        <a href="/index.html">站点导航</a>|<a href="https://github.com/njzjz">Github</a>
		</footer>
    </section>
  </body>
</html>
